.content {
  width: 60%;
}

.emailField {
  width: 100%;
  padding: 0.5rem;
  height: 3rem;
  font-size: 1.1rem;
  font-weight: 500;
  border: 1.5px solid #ddd;
  outline: none;
  border-radius: 3px;
  margin-bottom: 0.75rem;
}

.emailField:active,
.emailField:focus {
  border-color: var(--primary);
}

.emptyEmail {
  border-color: red;
}

.emptyEmail::placeholder {
  color: red;
}

.title {
  margin-bottom: 3rem;
}

.text {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.navButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.submitButton,
.backButton,
.backButtonTwo {
  background-color: var(--primary);
  height: 2.8rem;
  margin-top: 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.25s ease;
  border-radius: 3px;
}

.submitButton {
  width: 65%;
  border: none;
}

.backButton,
.backButtonTwo {
  width: 30%;
  background-color: #fff;
  color: var(--primary);
  border: 1px solid var(--primary);
  text-decoration: none;
}

.textTwo {
  font-size: 1.1rem;
  font-weight: 400;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.backButtonTwo {
  width: 40%;
  margin: 0 auto;
  margin-top: 2rem;
}

.submitButton:hover,
.backButton:hover,
.backButtonTwo:hover {
  opacity: 0.9;
}
